<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cadastro de Produtos</title>
	<!--  <link rel="stylesheet" type="text/css" 
	href="../css/bootstrap.min.css"/>
	<script src="../js/bootstrap.min.js"></script>-->
</head>
<body>
	<!-- inserindo uma logo no site -->
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">
			<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmultarte.com.br%2Flogo-do-youtube-png-fundo-transparente%2F&psig=AOvVaw3YH1pT9WmrEZse34FuqWNi&ust=1622163082842000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCp88bS6PACFQAAAAAdAAAAABAD"
			alt="" loading="Lazy">
		</a>
	</nav>
	
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</body>
</html>